.git

*.class
*.log
*~
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

project/.sbtserver

*.lock

old/

.ensime
.ensime_cache

# Do not ignore the assembled artifact
!target/scala-2.11/docelem-store.jar
